/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
    background: url(../img/body-bg.png);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout:none;-webkit-transition: -webkit-filter .5s;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#container {
    width: 200%;
    height: 100%;
    white-space: nowrap;
}
#container.initial {
    -webkit-transform: translate3d(-285px, 0, 0);
    -moz-transform: translate3d(-285px, 0, 0);
    transform: translate3d(-285px, 0, 0);
}
#sidebar {
    width: 285px;
    display: inline-block;
    color: #fff;
    min-height: 100%;
    -moz-box-shadow: inset -2px 0 1px #333;
    -webkit-box-shadow: inset -2px 0 1px #333;
    box-shadow: inset -2px 0 1px #333;
}
#sidebar ul {
    margin: 0 15px;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
header {
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    -webkit-box-shadow: inset -2px 0 1px #333, 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset -2px 0 1px #333, 0 1px 0 rgba(255,255,255,0.1);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #000;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHgyPSI1MCUiIHkyPSIxMDAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxN2ZhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NTk4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, #517fa3 0%, #295981 100%);
    background-image: -o-linear-gradient(top, #517fa3 0%, #295981 100%);
    background-image: -webkit-linear-gradient(top, #517fa3 0%, #295981 100%);
    background-image: linear-gradient(top, #517fa3 0%, #295981 100%);
}
header h1 {
    padding: 6px 10px 0 10px;
    margin: 0;
    color: #dbe4eb;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
#logo i {
    display: inline-block;
    width: 29px;
    height: 36px;
    margin-right: 10px;
    background: url(../img/logo.png) no-repeat center;
    background-size: 29px 36px;
}
#logo span {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}
#main {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 285px;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#header {
    height: 50px;
    white-space: nowrap;
    border-bottom: 1px solid #010101;
    -moz-box-shadow: inset 0 2px 1px #575a5e;
    -webkit-box-shadow: inset 0 2px 1px #575a5e;
    box-shadow: inset 0 2px 1px #575a5e;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMzMzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMzQzODNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMzOTNjM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTRkNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
    background-image: -o-linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
    background-image: -webkit-linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
    background-image: linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
}
.slide.in #header {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#content {
    background: #d7dbe0;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}
#sidebar .icon {
    
}
#header .icon {
    float: left;
    cursor: pointer;
}
#header .icon.active {
    -webkit-box-shadow: inset -1px 0 0 rgba(14,14,14,0.95);
    box-shadow: inset -1px 0 0 rgba(14,14,14,0.95);
}
.icon {
    width: 40px;
    height: 35px;
    margin: 6px 10px;
    padding: 0;
    border: 1px solid #1b1d1e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #3b3b3b;
    -moz-box-shadow: 0 0 1px rgba(235,235,235,.5), inset 0 1px 1px #898b8d;
    -webkit-box-shadow: 0 0 1px rgba(235,235,235,.5), inset 0 1px 1px #898b8d;
    box-shadow: 0 0 1px rgba(235,235,235,.5), inset 0 1px 1px #898b8d;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMzMzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMzQzODNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMzOTNjM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTRkNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
    background-image: -o-linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
    background-image: -webkit-linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
    background-image: linear-gradient(bottom, #313335 0%, #34383a 48.63%, #393c3f 50.54%, #4a4d51 100%);
}
.icon i {
    display: block;
    font-size: 0;
    text-indent: -9999px;
}
.icon i {
    width: 21px;
    margin: 10px;
    height: 16px;
    background: url(../img/icons/icn-toggle.png) no-repeat;
    background-size: 21px 16px;
}
#header .new {
    float: right;
}
#header .new i {
    width: 21px;
    margin: 9px 10px;
    height: 21px;
    background: url(../img/icons/icn-add.png) no-repeat;
    background-size: 21px 21px;
}
.title {
    height: 50px;
    margin: 0 66px 0 10px;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0 -1px 1px #1e1f21;
    color: #FFF;
    font-size: 1.375em;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}
.slide {
    -webkit-animation: .3s ease-in-out;
    -moz-animation: .3s ease-in-out;
    animation: .3s ease-in-out;
}
.slide.in {
    -webkit-animation-name: slideIn;
    -moz-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slide.out {
    -webkit-animation-name: slideOut;
    -moz-animation-name: slideOut;
    animation-name: slideOut;
    -webkit-transform: translate3d(-285px, 0, 0);
    -moz-transform: translate3d(-285px, 0, 0);
    transform: translate3d(-285px, 0, 0);
}
@-webkit-keyframes slideIn {
    0% { -webkit-transform: translate3d(-285px, 0, 0); }
    100% { -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes slideIn {
    0% { -moz-transform: translate3d(-285px, 0, 0); }
    100% { -moz-transform: translate3d(0, 0, 0); }
}
@keyframes slideIn {
    0% { transform: translate3d(-285px, 0, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes slideOut {
    0% { -webkit-transform: translate3d(0, 0, 0); }
    100% { -webkit-transform: translate3d(-285px, 0, 0); }
}
@-moz-keyframes slideOut {
    0% { -moz-transform: translate3d(0, 0, 0); }
    100% { -moz-transform: translate3d(-285px, 0, 0); }
}
@keyframes slideOut {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-285px, 0, 0); }
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
